.card {
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  text-align: center;
}

.img-container img {
  margin: 5px;
  padding: 10px;
  border: 1px solid #c2c2c2;
  max-height: 200px;
  max-width: 200px;
  background-color: white;
}