.jumbotron {
  background-image: url('https://pre00.deviantart.net/bb4c/th/pre/f/2011/310/e/6/game_of_thrones_inspiered_background_by_ivegotswagger-d4fa1dz.jpg');
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.header {
  background-image: url('http://pluspng.com/img-png/game-of-thrones-logo-png-open-2000.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  position: relative;
  height: 150px;
  width: 100%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #020202;
  font-weight: 700;
  text-align: center;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
}
